html {
  background-color: #000;
  color: var(--color-text);
}

:root {
  --color-main: #000;
  --color-main2: #25372d;
  --color-main3: #642e24;
  --color-headline: #ce5e4a;
  --color-text: #fcf2c1;
  --font-headline: "Germania One", cursive;
  --font-headline2: "Pirata One", cursive;
  --font-paragraph: "Sen", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-headline);
  color: var(--color-headline);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

h2 {
  font-family: var(--font-headline2);
  color: var(--color-text);
  font-size: 2rem;
  line-height: 4rem;
  font-weight: bold;
}

h3 {
  font-family: var(--font-headline2);
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

li {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

p {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

a {
  font-family: var(--font-headline);
  color: var(--color-text);
}

li,
ul {
  list-style: none;
  padding-left: 0;
}

.hero {
  display: flex;
  min-height: 20vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(
    163deg,
    var(--color-headline) 0%,
    var(--color-text) 100%
  );
  border-radius: 25px;
  width: 20vw;
  height: 50vh;
  /* padding: 8vh 2vw; */
  transition: all 0.3s;
}

.card2 {
  width: 20vw;
  height: 65vh;
  background-color: #242424;
  transition: all 0.2s;
  border-radius: 25px;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(252, 242, 193, 0.3);
}

.container_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #121212;
  border-radius: 8px;
}

.button,
.tentbtn {
  background-color: transparent;
  border: 2px solid var(--color-headline);
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-family: var(--font-headline);
}

.button::before {
  content: "";
  width: 1.5625rem;
  height: 2px;
  background: var(--color-text);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: 0.3s linear, width 0.3s linear;
}

.button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button_text,
.tentbtn_text {
  font-size: 1rem;
  line-height: 1.3333em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text);
}

.tentbtn_text {
  font-size: 2rem;
  font-family: var(--font-paragraph);
}

.button_text {
  padding-left: 2em;
  font-size: 1rem;
}

.bottom_key_1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #242424;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.bottom_key_2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #242424;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.button:hover,
.tentbtn:hover {
  background: var(--color-headline);
}

.button:hover::before,
.tentbtn:hover::before {
  width: 0.9375rem;
  background: var(--color-text);
}

.button:hover .button_text,
.tentbtn:hover .button_text {
  color: var(--color-text);
  padding-left: 1.5em;
}

.button:hover .bottom_key_1,
.button:hover .bottom_key_2,
.tentbtn:hover .bottom_key_1,
.tentbtn:hover .bottom_key_2 {
  right: 0;
  width: 0;
}

.button_big {
  width: 25vw;
  background-color: #242424;
}

.amount {
  padding: 0 1rem;
  color: var(--color-headline);
  font-family: var(--font-headline);
  font-size: 2rem;
}

.price {
  color: var(--color-text);
  font-family: var(--font-headline);
  font-size: 2rem;
}

.add_remove_one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 1rem;
  justify-content: left;
  border-top: 3px solid var(--color-headline);
  text-align: left;
  width: 25vw;
}

.flex_box > li {
  width: 50%;
  font-weight: bold;
  font-size: 1.1rem;
}

.flex_box > li:nth-child(even) {
  text-align: right;
}

.flex_box > li:nth-child(3) {
  font-weight: lighter;
  font-size: 1rem;
  color: var(--color-headline);
}

.basket {
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: left;
}

.subtotal {
  border-top: 3px solid var(--color-headline);
}

.content {
  display: grid;
  grid-column: span 2;
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
}

.divide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  margin: 2%;
  margin-bottom: 10vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  font-family: var(--font-headline);
  color: var(--color-text);
}

label {
  font-family: var(--font-headline);
  color: var(--color-text);
}

.subtotal li {
  font-weight: bold;
  font-size: 1.5rem;
}

.spots {
  color: var(--color-headline);
  font-family: var(--font-headline);
  font-size: 2rem;
}
