@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

li,
ul {
  list-style: none;
  padding-left: 0;
}

.hero {
  display: flex;
  min-height: 20vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: azure;
  width: 20vw;
  padding: 8vh 2vw;
}

.container_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f3f7f7;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

.flex_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 1rem;
  justify-content: left;
  border-top: 3px solid var(--color-headline);
  text-align: left;
  width: 25vw;
}

.flex_box > li {
  width: 50%;
}

.flex_box > li:nth-child(even) {
  text-align: right;
}

.basket {
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: left;
}

.subtotal {
  border-top: 2px solid black;
}

.content {
  display: grid;
  grid-column: span 2;
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}

.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.divide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  margin: 2%;
}
