html {
  background-color: #000;
  color: var(--color-text);
}

:root {
  --color-main: #000;
  --color-main2: #25372d;
  --color-main3: #642e24;
  --color-headline: #ce5e4a;
  --color-text: #fcf2c1;
  --font-headline: "Germania One", cursive;
  --font-headline2: "Pirata One", cursive;
  --font-paragraph: "Sen", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-headline);
  color: var(--color-headline);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

h2 {
  font-family: var(--font-headline2);
  color: var(--color-text);
  font-size: 2rem;
  line-height: 4rem;
  font-weight: bold;
}

h3 {
  font-family: var(--font-headline2);
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

li {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

p {
  font-family: var(--font-paragraph);
  color: var(--color-text);
}

a {
  font-family: var(--font-headline);
  color: var(--color-text);
}

li,
ul {
  list-style: none;
  padding-left: 0;
}

.hero {
  display: flex;
  min-height: 20vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #242424;
  width: 20vw;
  padding: 8vh 2vw;
}

.container_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #121212;
  border-radius: 8px;
}

.button {
  padding: 15px 25px;
  border: unset;
  border-radius: 10px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: var(--color-headline);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button:hover {
  color: var(--color-text);
}

.button:hover::before {
  width: 100%;
}

.flex_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0.5rem;
  padding: 1rem;
  justify-content: left;
  border-top: 3px solid var(--color-headline);
  text-align: left;
  width: 25vw;
}

.flex_box > li {
  width: 50%;
}

.flex_box > li:nth-child(even) {
  text-align: right;
}

.basket {
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: left;
}

.subtotal {
  border-top: 3px solid var(--color-headline);
}

.content {
  display: grid;
  grid-column: span 2;
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
}

.divide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  margin: 2%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  font-family: var(--font-headline);
  color: var(--color-text);
}
