.headline {
  font-size: 2rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--yellow);
}

.h1 {
  margin: 1rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
}

.label,
.input {
  display: block;
}

.button {
  width: 60%;
  border: none;
  color: white;
  font-size: 1.1rem;
  background-color: #0d2e4d;
  padding: 15px 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin: 2rem;

  margin-top: 1rem;
}

.button:hover {
  color: white;
  background-color: #2985cc;
  transform: scale(1.05);
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 103.4px;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  text-align: center;
}
