.headline {
  font-size: 3rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.2;
  color: var(--yellow);
}

.h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.content {
  display: grid;
  grid-column: span 2;
}

.basket {
  display: flex;
  width: 30vw;
}
