.form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.flexRow .field {
  flex-basis: 45%;
}

.form input {
  height: 54px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
}

.form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px white;
}
