.flexRow {
  display: flex;
  justify-content: space-between;
}

.flexRow .field {
  flex-basis: 45%;
}

.form input {
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  color: #000;
  height: 46px;
  padding: 10px;
  width: 28vw;
  font-family: var(--font-headline);
}

.form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px white;
}

.field_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0 10% 10% 10%;
  gap: 3vw;
}

.field_box > label {
  width: 50%;
}

.h2 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  background-color: #fafafa;
  font-family: var(--font-headline);
  color: var(--color-main);
  width: 30vw;
  border-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  padding: 1rem;
  height: fit-content;
  background-color: #242424;
  border-radius: 25px;
  margin: 2%;
}

.basket {
  background-color: #242424;
  align-items: center;
  border-radius: 25px;
  margin: 2%;
}

.button {
  display: block;
  width: fill;
}
