.headline {
  font-size: 3rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1.2;
  color: var(--yellow);
}

.h1 {
  margin: 2rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.button {
  position: fixed;
  bottom: 0;
  left: 47%;
  transform: translate(-50%, -50%);
  width: fit-content;
  border: none;
  color: white;
  font-size: 1.1rem;
  background-color: #0d2e4d;
  padding: 15px 32px;
  display: block;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin: 2rem;
  margin-top: 1rem;
  text-decoration: none;
}
